#####################################################
################# Orbiter Sensor #####################
######################################################

#config file version v2.2.1

[respond]
default_type: echo

[delayed_gcode clear_display]
gcode:
  M117 # clear display message

[force_move]
enable_force_move: True

#///////////////////////////filament sensor button macros/////////////////////////////////////////////////
[gcode_button sensor_fs]
#pin: PC7  # !!!!!!!!!!!!!!!!!!!!!change with the pin name to which the sensor is connected!!!!!!!!!!!!!!!!!!!!!
pin: MKS_THR:gpio29 # remove the negation "!" for sensor v1 - use just PA9 as example
press_gcode: # sensor released  -runnout detected!
  {% if (printer.print_stats.state == "printing") %}  
    #PAUSE # call printer pause macto
    filament_change_state1   
  {% endif %} 
  UPDATE_DELAYED_GCODE ID=clear_loadbusy DURATION=2
  UPDATE_DELAYED_GCODE ID=clear_unloadbusy DURATION=2    
  SET_GCODE_VARIABLE MACRO=filament_unload VARIABLE=filamentpresent VALUE=0

release_gcode: #gcode macro for filament load, sensor pressed
  {% if (printer.print_stats.state != "printing") %}
    filament_load
  {% else %}
    M117 Printing! Can't load filament right now!
    M118 Printing! Can't load filament right now! 
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
  {% endif %} 
  SET_GCODE_VARIABLE MACRO=filament_unload VARIABLE=filamentpresent VALUE=1
  UPDATE_DELAYED_GCODE ID=clear_changebusy DURATION=2
#********************************************************************************************************

#////////////////////////////////////////Filament Unload macros/////////////////////////////////////////////////
[gcode_button sensor_fu]
#pin: PA8  # !!!!!!!!!!!!!!!!!!!!!!!change with the pin name to which the sensor is connected!!!!!!!!!!!!!!!!!!!!!
pin: MKS_THR:gpio21 # remove the negation "!" for sensor v1 - use just PA10 as example
release_gcode:  # filament unload procedure   
  {% if (printer.print_stats.state != "printing")%} # requires [virtual_sdcard]   
     filament_unload     
  {% else %}
     M117 Printing! Can't unload filament right now!
     M118 Printing! Can't unload filament right now! #M117 message to display    
  {% endif %}
press_gcode: # do not add any macro call here

#**************************************************************************************************************



[delayed_gcode clear_changebusy]
gcode:
  SET_GCODE_VARIABLE MACRO=filament_change_state1 VARIABLE=changebusy VALUE=0
  #M118 Clear Load busy!  


[delayed_gcode set_loadbusy]
gcode:
  SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=1
  #M118 Set Load busy! 


[delayed_gcode clear_loadbusy]
gcode:
  SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=0
  #M118 Clear Load busy!  

[gcode_macro filament_change_state1]
variable_changebusy: 0
gcode:
  {% if changebusy == 0 %}
    PAUSE # call printer pause macro
    SET_GCODE_VARIABLE MACRO=filament_change_state1 VARIABLE=changebusy VALUE=1
    M118 Filament runnout!
    M117 Filament runnout!
    filament_change_state2     # comment this line if you do not want to automatically unload filament in case there is a runnout detected.
  {% else %}
  {% endif %}

[gcode_macro filament_change_state2]
gcode:
  SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=1    
  #PANEL_BEEP # only for panel due
  M118 Unloading filament...
  M117 Unloading filament...
  M83
  G92 E0   
  # {% if printer[printer.toolhead.extruder].temperature < 185 %} # hardcoded threshold
  {% if (printer.extruder.can_extrude|lower != 'true') or (printer.extruder.target == 0) %} # checing for minimum extrusion temperature and temperature target set different than 0
    # check if temperature is over the minimum extrusion temp. min_extrude_temp must be defined in the extruder config (to about 185)
    M118 Hotend heating!  
    M109 S230 T0 # set temperature and wait
  {% endif %}
  G0 E-5 F3600 	#extract filament to cold end
  G4 P2000 # wait for two seconds
  G0 E4.5 F3600 # push the filament back 
  G0 E-5 F3600 	#extract filament to cold end
  G0 E-60 F300	# continue extraction slow allow filament to be cooled enough before reaches the gears  
  M400
  M117 Load new filament! Wait until is loaded, then resume printing.
  M118 Load new filament! Wait until is loaded, then resume printing.
  #SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=0
  UPDATE_DELAYED_GCODE ID=clear_loadbusy DURATION=2.5 # timing must be set to clear delay plus 0.5s. is due to wait to remove filament before starting load even in case there is a blob at the tip of the extracted filament which woudl trigger the sensor twice
  

[gcode_macro filament_load]
variable_loadbusy: 0
gcode:    
    {% if loadbusy == 0 %} # requires [virtual_sdcard] 
    SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=1
    SET_GCODE_VARIABLE MACRO=filament_unload VARIABLE=unloadbusy VALUE=1
    {% if printer.extruder.can_extrude|lower != 'true' %} # checing for minimum extrusion temperature
      # check if temperature is over the minimum extrusion temp. min_extrude_temp must be defined in the extruder config (to about 185)      
      M104 S235 T0 # set temperature and wait, 235 deg C is a good value for most of filament types.
    {% endif %}
    #PANEL_BEEP # only for panel due
    M117 Filament loading!    
    M118 Filament loading!  
    M82           #set extruder to absolute mode
    G92 E0
    G4 P2000        # wait for two seconds
    FORCE_MOVE STEPPER=extruder DISTANCE=15 VELOCITY=5 ACCEL=1000  # load filament inside the gears force move needs to be enabled
    # check for extruder ready - hotend temperature is high enough, extrude 50mm then check temperature again. To avoid cold extrusion when filament load was started with hot hotend but temperature set to 0
    {% if printer.extruder.can_extrude|lower != 'true' %} # checing for minimum extrusion temperature
      # check if temperature is over the minimum extrusion temp. min_extrude_temp must be defined in the extruder config (to about 185)
      M118 Hotend heating!  
      M109 S235 T0 # set temperature and wait, 235 deg C is a good value for most of filament types.
    {% endif %}
    G1 E200 F300 # extrude 200mm   
    M400
    {% if (printer.print_stats.state != "printing") and (printer.print_stats.state != "paused")%} 
      M104 S0 T0 # if not printing or paused due to filament change set the extruder temp to 0
    {% endif %}  
    M117 Filament load complete!    
    M118 Filament load complete!   
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
    UPDATE_DELAYED_GCODE ID=clear_unloadbusy DURATION=2   
    {% else %}
      M118 Filament already loaded!    
    {% endif %}  


[gcode_macro filament_unload]
variable_unloadbusy: 0
variable_filamentpresent: 0
gcode:
    #{% if unloadbusy == 0 and filamentpresent == 1 %} # requires [virtual_sdcard]  
    {% if unloadbusy == 0 %} # requires [virtual_sdcard]  
      SET_GCODE_VARIABLE MACRO=filament_unload VARIABLE=unloadbusy VALUE=1
      SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=1
      #PANEL_BEEP # only for panel due
      M118 Filament unloading!
      M117 Filament unloading!  
      M83
      G92 E0 
      {% if (printer.extruder.can_extrude|lower != 'true') or (printer.extruder.target == 0)%} # checing for minimum extrusion temperature
        # check if temperature is over the minimum extrusion temp. min_extrude_temp must be defined in the extruder config (to about 185)
        M118 Hotend heating!  
        M109 S185 T0 # set temperature and wait      
      {% endif %}
      G0 E-5 F3600 	#extract filament to cold end
      G4 P2000 # wait for two seconds
      G0 E4.5 F3600 # push the filament back 
      G0 E-5 F3600 	#extract filament to cold end
      G0 E-60 F300	# continue extraction slow allow filament to be cooled enough before reaches the gears  
      M104 S0 T0 
      M400
      M118 Filament unload complete!
      M117 Filament unload complete! 
      #SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=0
      UPDATE_DELAYED_GCODE ID=clear_display DURATION=10            
    {% else %}      
      M118 Nothing to unload!
    {% endif %}

[delayed_gcode clear_unloadbusy]
gcode:
  SET_GCODE_VARIABLE MACRO=filament_unload VARIABLE=unloadbusy VALUE=0
  #M118 Clear Unload busy!  
  



