[mcu PITB]
##  You need to select 'Communication interface' to USB in 'make menuconfig'
##  when you compile Klipper
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E66160F423669A37-if00
canbus_uuid=e3cfde1a684f
## When using klipper with PITB V2, you can only use CAN or USB. When using CAN, 
## you need to short-circuit SEL and GND, that is, plug in the jumper cap.
## Uncomment below if you're using the Raspberry uart0 to communicate with Spider
#restart_method: command

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to MOT0 (B Motor)
step_pin: PITB:gpio6
dir_pin: PITB:gpio5
enable_pin: !PITB:gpio20
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PITB:gpio16
position_min: 0

##--------------------------------------------------------------------

##	Uncomment below for 250mm build
#position_endstop: 250
#position_max: 250

##	Uncomment for 300mm build
position_endstop: 300
position_max: 300

##	Uncomment for 350mm build
#position_endstop: 350
#position_max: 350

##--------------------------------------------------------------------
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (5160)
[tmc5160 stepper_x]
## Soft SPI
spi_software_sclk_pin: PITB:gpio2
spi_software_mosi_pin: PITB:gpio3
spi_software_miso_pin: PITB:gpio4
cs_pin: PITB:gpio1
interpolate: True
#diag1_pin: PITB:gpio7
run_current: 0.800 
hold_current: 0.500
##stealthchop_threshold: 0

[stepper_y]
##	Connected to MOT1 (A Motor)
step_pin: PITB:gpio13
dir_pin: PITB:gpio23
enable_pin: !PITB:gpio22
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PITB:gpio17
position_min: 0
##--------------------------------------------------------------------

##	Uncomment for 250mm build
#position_endstop: 250
#position_max: 250

##	Uncomment for 300mm build
position_endstop: 305
position_max: 305

##	Uncomment for 350mm build
#position_endstop: 350
#position_max: 350

##--------------------------------------------------------------------
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (5160)
[tmc5160 stepper_y] 
# Soft SPI
spi_software_sclk_pin: PITB:gpio2
spi_software_mosi_pin: PITB:gpio3
spi_software_miso_pin: PITB:gpio4
cs_pin: PITB:gpio21
#diag1_pin: PITB:^gpio14
interpolate: True 
run_current: 0.8
hold_current: 0.5
##stealthchop_threshold: 0

# You will need to configure a neopixel (or other addressable led, such as dotstar). See
# https://www.klipper3d.org/Config_Reference.html#neopixel for configuration details.
# And you can get sb led MACRO here: https://github.com/PrinterConfigs/DoomConfig/blob/master/stealthburner.cfg
# Or here https://github.com/sttts/voron-klipper-config/blob/master/stealthburner_leds.cfg
[neopixel leds]
pin: PITB:gpio19
chain_count: 3
color_order: GRBW
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5
initial_WHITE: 0.5

[fan_generic fg1]
# FAN0
pin: PITB:gpio0

[fan_generic fg2]
# FAN1
pin: PITB:gpio18

[temperature_sensor chamber]
# T0 GPIO26
# T1 GPIO27
# T2 GPIO28
sensor_type: Generic 3950
sensor_pin: PITB:gpio26
min_temp: 0
max_temp: 100
gcode_id: C

[output_pin activity_led]
pin: PITB:gpio15
